<!DOCTYPE html>
<html lang="en">
<head>
    <title>weather</title>
    <link rel="icon" href="./css/img/download.png">
    <link rel="stylesheet" href="./css/style.css">
    
   
</head>
<body>
 <div class="main-content">
    {{>headers}}  
    <p>use this site to get your weather!</p>
    <form action="">
        <input placeholder="location">
        <button>search</button>
    </form>
    <p id="msg1"></p>
    <p id="msg2"></p>
</div>
    {{>footer}}
     <script type="text/javascript" src="js/app.js"></script>
</body>
</html>